body {
  background: #fff0ba;
}

h1,
p,
a,
footer {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}

p {
  font-size: 14px;
  text-align: justify;
}

.contact-info {
  text-align: center;
}

footer {
  font-size: 11px;
  padding-top: 20px;
}

img {
  max-width: min-content;
  height: auto;
  display: block;
}
